{% set config = {
    'pagetitle' : 'Dashboard'
} %}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ absolute_url(asset('css/app.common.css')) }}"> #}
{% endblock %}

{% block javascripts %}
<script src="{{ absolute_url(asset('js/app.common.js')) }}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="btn-group">
            <a class="btn btn-primary btn-lg" data-api-call href="{{ absolute_url(path('api.gubed')) }}" role="button">gubed</a>
            <a class="btn btn-primary btn-lg" data-api-call href="{{ absolute_url(path('api.gubed.headers')) }}" role="button">headers</a>
            <a class="btn btn-primary btn-lg" data-api-call href="{{ absolute_url(path('api.gubed.server')) }}" role="button">server</a>
            <a class="btn btn-primary btn-lg" data-api-call href="{{ absolute_url(path('api.gubed.session')) }}" role="button">session</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">debug</h4>
                <pre class="card-text" id="output">{{ output }}</pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card border-light mb-4">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(2, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-success" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                foo
                <span class="badge badge-primary badge-pill">4</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-light mb-4">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(4, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-warning" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                bar
                <span class="badge badge-primary badge-pill">7</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-light mb-4">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(3, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-danger" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                baz
                <span class="badge badge-primary badge-pill">2</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
