{% extends 'base.html.twig' %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ absolute_url(asset('css/app.common.min.css')|cacheHack) }}"> #}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ absolute_url(asset('js/plugins/chartjs.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('js/app.common.js')|cacheHack) }}"></script>
{% endblock %}

{% block content %}
{% if dumpRepos is same as(true) %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">GitHub</h5>
                <h2 class="card-title">Repos</h2>
            </div>
            <div class="card-body">
                <pre class="card-text">{{ dump(repos) }}</pre>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">GitHub</h5>
                <h2 class="card-title">All commits in the last 12 weeks for all Repos</h2>
            </div>
            <div class="card-body">
                {% if repos.all is defined and repos.all is iterable %}
                <canvas data-print="chart" data-chart-data="{{ repos.all|join(',') }}"></canvas>
                {% else %}
                <p class="card-text text-danger">No Data.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% for repo in repos.data %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="float-right">
                    <div class="bs-photo bs-photo-round bs-photo-size-32">
                        <a href="{{ repo.owner.html_url }}" target="_blank" data-toggle="tooltip" data-placement="top" title="View user on GitHub.">
                            <img src="{{ repo.owner.avatar_url }}" alt="Profile Photo" >
                        </a>
                    </div>
                </div>
                <h5 class="card-category">
                    {{ repo.language }}
                </h5>
                <h2 class="card-title d-flex justify-content-between">
                    <a href="{{ repo.html_url }}" target="_blank" data-toggle="tooltip" data-placement="top" title="View repo on GitHub.">
                        {{ repo.name }}
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <h4 class="card-title">Commits in the last 12 weeks:</h4>
            </div>
            <div class="card-body">
                {% if
                    repo.participation is defined and
                    repo.participation is iterable and
                    repo.participation.all is defined and
                    repo.participation.all is iterable
                %}
                <canvas data-print="chart" data-chart-data="{{ repo.participation.all|join(',') }}"></canvas>
                {% else %}
                <p class="card-text text-danger">No Data.</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <p class="card-text d-flex justify-content-between">
                    created
                    <span>{{ repo.created_at }}</span>
                </p>
                <p class="card-text d-flex justify-content-between">
                    updated
                    <span>{{ repo.updated_at }}</span>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(2, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-success" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                foo
                <span class="badge badge-primary badge-pill">4</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(4, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-warning" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                bar
                <span class="badge badge-primary badge-pill">7</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Lorem</div>
            <div class="card-body">
                <h4 class="card-title">Ipsum</h4>
                {{ lorem.get(3, 'card-text')|raw }}
                <p class="card-text"><a class="btn btn-danger" href="#" role="button">Quo Vadis &raquo;</a></p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                baz
                <span class="badge badge-primary badge-pill">2</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
