{% extends 'admin/user/base.html.twig' %}

{% form_theme userCreateForm 'bootstrap_4_layout.html.twig' %}

{#{% block stylesheets %}{{ parent() }}{% endblock %}#}

{#{% block javascripts %}{{ parent() }}{% endblock %}#}

{% block userAdminCardContent %}
{{ form_start(userCreateForm) }}
<div class="card-body">
    {#<pre>{{ dump(userCreateErrors) }}</pre>#}
    {#<pre>{{ dump(userCreateForm.email.vars) }}</pre>#}
    {#<pre>{{ dump(userCreateForm.plainPassword.vars) }}</pre>#}
    {#{% set messages = [] %}#}
    {#{% for child in userCreateForm.children %}#}
        {#{% for error in child.vars.errors %}#}
            {#{% set messages = messages|merge([error.message]) %}#}
        {#{% endfor %}#}
    {#{% endfor %}#}
    {#{% if messages|length %}#}
        {#<ul>#}
            {#{% for message in messages %}#}
                {#<li>{{ message }}</li>#}
            {#{% endfor %}#}
        {#</ul>#}
    {#{% endif %}#}
    {#{{ form_label(userCreateForm.email) }}#}
    {#{{ form_widget(userCreateForm.email) }}#}
    {#{{ form_errors(userCreateForm.email) }}#}
    <div class="row">
        <div class="col-md-2 mb-4">{{ form_label(userCreateForm.email) }}</div>
        <div class="col-md-4 mb-4">{{ form_widget(userCreateForm.email) }}</div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-4">{{ form_label(userCreateForm.plainPassword.first) }}</div>
        <div class="col-md-4 mb-4">{{ form_widget(userCreateForm.plainPassword.first) }}</div>
        <div class="col-md-2 mb-4">{{ form_label(userCreateForm.plainPassword.second) }}</div>
        <div class="col-md-4 mb-4">{{ form_widget(userCreateForm.plainPassword.second) }}</div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-4">{{ form_label(userCreateForm.name) }}</div>
        <div class="col-md-4 mb-4">{{ form_widget(userCreateForm.name) }}</div>
        <div class="col-md-2 mb-4">{{ form_label(userCreateForm.surname) }}</div>
        <div class="col-md-4 mb-4">{{ form_widget(userCreateForm.surname) }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{ form_label(userCreateForm.github_user) }}</div>
        <div class="col-md-10">{{ form_widget(userCreateForm.github_user) }}</div>
    </div>
    {#<div class="row">#}
        {#<div class="col-md-4 pr-md-1">{{ form_row(userCreateForm.email) }}</div>#}
    {#</div>
    <div class="row">
        <div class="col-md-6">{{ form_row(userCreateForm.plainPassword.first) }}</div>
        <div class="col-md-6">{{ form_row(userCreateForm.plainPassword.second) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(userCreateForm.name) }}</div>
        <div class="col-md-6">{{ form_row(userCreateForm.surname) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(userCreateForm.github_user) }}</div>
    </div>#}
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-fill btn-primary">Create</button>
</div>
{{ form_end(userCreateForm) }}
{% endblock %}
