{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ absolute_url(asset('js/admin.cache.min.js')|cacheHack) }}"></script>
{% endblock %}

{% block content %}
    <div id="admin_cache" class="row" data-active-cache="{{ active }}">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">find keys in cache or clear cache</h5>
                    <h2 class="card-title">Available Caches</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% for i, cache in caches %}
                            {% set class = '' %}
                            {% set chevron = 'right' %}
                            {% if cache == active %}
                                {% set class = ' text-primary' %}
                                {% set chevron = 'down' %}
                            {% endif %}
                            <li>
                                <hr>
                                <div data-cache="{{ cache }}">
                                    <form id="form_{{ i }}" action="#" method="post">
                                        <div class="form-group row">
                                            <label for="key__{{ i }}" class="col-sm-2 col-form-label{{ class }}">
                                                <i class="fas fa-chevron-{{ chevron }} fa-xs fa-fw"></i> {{ cache }}
                                            </label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <a href="{{ absolute_url(path('admin.cache', { 'type' : cache, 'action' : 'clear' })) }}" data-submit="#form_{{ i }}" data-toggle="tooltip" data-placement="top" title="clear whole cache or specific key"><i class="far fa-trash-alt text-danger"></i></a>
                                                            <a href="{{ absolute_url(path('admin.cache', { 'type' : cache, 'action' : 'find' })) }}" data-submit="#form_{{ i }}" data-toggle="tooltip" data-placement="top" title="search for a key"><i class="fas fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <input type="text" name="key" class="form-control m-0" id="key__{{ i }}" placeholder="search key" value="{% if cache == active %}{{ key }}{% endif %}">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% if cache == active and data is not empty %}
                                    <pre class="{{ preClass }}">{{ data|printr }}</pre>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
