{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ absolute_url(asset('js/admin.log.min.js')|cacheHack) }}"></script>
{% endblock %}

{% block content %}
<div id="playground_log" class="row" data-active-log-file="{{ file }}">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">Log Files</h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for info in logDirInfo %}
                    {% set class = '' %}
                    {% if file == info.name %}
                    {% set class = ' text-primary' %}
                    {% set link = absolute_url(path('admin.log')) %}
                    {% set chevron = 'down' %}
                    {% else %}
                    {% set link = absolute_url(path('admin.log', { 'file' : info.name })) %}
                    {% set chevron = 'right' %}
                    {% endif %}
                    <li>
                        <hr>
                        <div class="row" data-log-file="{{ info.name }}">
                            <div class="col-md-3{{ class }}">
                                <a href="{{ link }}">
                                    <i class="fas fa-chevron-{{ chevron }} fa-xs fa-fw"></i> {{ info.name }}
                                </a>
                            </div>
                            <div class="col-md-2{{ class }}">
                                {{ info.time }}
                            </div>
                            <div class="col-md-2{{ class }}">
                                {{ info.size }}
                            </div>
                            <div class="col-md-2">
                                <a href="#"><i class="fas fa-download text-info"></i></a>
                                <a href="#"><i class="far fa-trash-alt text-danger"></i></a>
                            </div>
                            {% if file == info.name and log is not same as(null) %}
                            <div class="col-md-12 mt-3">
                                <pre>{{ log }}</pre>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
