{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="{{ absolute_url(asset('js/playground.common.min.js')|cacheHack) }}"></script>
{% endblock %}

{% block sidebarPlayground %}
{% include 'playground/sidebar.html.twig' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Some Geeky Stuff</h5>
                        <h2 class="card-title">Binary Thinking</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple" data-api-call>
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">reset</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-button-power"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" data-api-call="{{ absolute_url(path('api.gubed')) }}">
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">gubed</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" data-api-call="{{ absolute_url(path('api.gubed.headers')) }}">
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">headers</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" data-api-call="{{ absolute_url(path('api.gubed.server')) }}">
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">server</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" data-api-call="{{ absolute_url(path('api.gubed.session')) }}">
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">session</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <pre class="card-text" id="output"></pre>
            </div>
            <div class="card-body">
                <pre class="card-text text-warning">{{ test|printr }}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
