{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ absolute_url(asset('css/login.min.css')|cacheHack) }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="card card-login">
            <div class="block"></div>
            <div class="block"></div>
            <form action="{{ absolute_url(path('user.login')) }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="card-header">
                    <h5 class="card-category">User</h5>
                    <h2 class="card-title">Login</h2>
                </div>
                {% if error %}
                <div class="card-body">
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
                {% endif %}
                <div class="card-body login">
                    <div class="login-form-field">
                        <input id="email" class="focus" type="email" name="_username" placeholder="email address" required autofocus value="{{ lastUsername }}">
                        <label for="email">email address</label>
                        <div class="hint-text email"></div>
                    </div>
                    <div class="login-form-field">
                        <input id="password" class="focus" type="password" name="_password" placeholder="password" required>
                        <label for="password">password</label>
                        <div class="hint-text password"></div>
                    </div>
                </div>
                <div class="card-footer text-center login">
                    <a class="btn btn-secondary" href="{{ absolute_url(path('app.index')) }}" role="button">home</a>
                    <button type="submit" class="btn btn-primary">login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
