{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-header">
                <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-md-1">
                        <div class="form-group">
                            <label for="email">Email address (disabled)</label>
                            <input type="email" class="form-control" id="email" disabled placeholder="Email address" value="{{ app.user.getEmail() }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-md-1">{{ form_row(form.name) }}</div>
                    <div class="col-md-6 pl-md-1">{{ form_row(form.surname) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.github_user) }}</div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <div class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="#">
                            <img class="avatar" src="data:{{ app.user.getAvatarMimeType() }};base64,{{ app.user.getAvatarBase64() }}" alt="Profile Photo">
                            <h5 class="title">{{ app.user.getName() }} {{ app.user.getSurname() }}</h5>
                        </a>
                        <p class="description">
                            {# TODO: find something fancy to display #}
                            find something fancy to display
                        </p>
                    </div>
                </div>
                <div class="card-description">{{ lorem.get(3, 'card-text')|raw }}</div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="btn btn-icon btn-round btn-google">
                        <i class="fab fa-google-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
